name: Cache

on:
  push:
    branches:
      - cache

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Connect to Cachix
        uses: cachix/cachix-action@v16
        with:
          name: openmesh
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Upload derivation to Cachix
        run: nix build --accept-flake-config --print-out-paths --fallback | cachix push openmesh
